name: Sync with Hugging Face

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Git configuration
        run: |
          git config --global user.email "jcchitte@wpi.edu"
          git config --global user.name "GitHub Actions"

      - name: Set up Hugging Face authentication
        run: |
          git config --global credential.helper store
          echo "https://Jagruti25:${{ secrets.github-sync-token }}@huggingface.co" > ~/.git-credentials

      - name: Sync with Hugging Face
        run: |
          cd spaces/Jagruti25/sample
          rsync -av --exclude=".git" ../ ./
          git add .
          git commit -m "Sync GitHub repo with Hugging Face Space"
          git push origin main
