name: Sync with Hugging Face

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Git configuration
        run: |
          git config --global user.email "yourusername@users.noreply.github.com"
          git config --global user.name "GitHub Actions"
          git config --global credential.helper store
          echo "https://github.com:${{ secrets.GITHUB_TOKEN }}@github.com" > ~/.git-credentials

      - name: Clone Hugging Face Space
        run: |
          git clone https://huggingface.co/spaces/Jagruti25/sample.git hf-sample

      - name: Sync files
        run: |
          rsync -av --exclude=".git" hf-sample/ ./

      - name: Commit and Push changes
        run: |
          git add .
          git commit -m "Sync GitHub repo with Hugging Face Space" || echo "No changes to commit"
          git push origin main

